
<%- include('include/page-header', {}); %>


<section class="featured">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-centered">
				<h1>404</h1>
				<p>Page not found.</p>
			</div>
		</div>
	</div>
</section>


<%- include('include/page-footer', {}); %>
