<%- include('include/page-header', {}); %>

		<section class="featured">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="align-center">

							<img class="slogan-logo" src="./img/brhlogo_large.png">

							<p>
								<div class="text-centered">
									By entering below, you're agreeing to obey the following rules:
								</div>
								<ul class="rules-list">
									<li>We are an 18+ community</li>
									<li>Absolutely no racism</li>
									<li>Avoid whenever possible political discussions</li>
									<li>Don't be a dick</li>
								</ul>
							</p>

							<div class="row home-buttons">
								<div class="col-sm-4">
									<span class="button-label">Public</span>
									<a href="#" class="home-button">
										<img class="home-button-img" src="/img/discord.png"/>
									</a>
								</div>
								<div class="col-sm-8">
								<span class="button-label">Members Only</span>
								<a class="home-button" href="#">
									<span><i class="fa fa-comments-o"></i> Forums</span>
								</a>
								<a class="home-button" href="#">
									<span><i class="fa fa-files-o"></i> Archive</span>
								</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<%- include('include/page-footer', {}); %>

	</div>
	<script src="/build/app.js"></script>
</body>
</html>
