<section id="footer" class="section footer">
	<div class="container">
		<div class="row opacity">
			<div class="col-sm-12 align-center">

		</div>
	</div>

	<div class="row align-center copyright">
		<div class="col-sm-12">
			<p>Copyright &copy; <%= moment().year() %> team-brh.com</p>
			<p class="disclaimer">We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with Best Buy  Co., Inc or any of its subsidiaries or its affiliates.</p>
			<p class="disclaimer">team-brh.com is sponsored by <a href="https://hipezz.com">hipezz.com</a> - the deals are in the beam!</p>
		</div>
	</div>
</div>

</section>
